.serviceimg1{
    background-color: #95D5EE;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;

    
}
.serviceimg2{
    background-color: #F9A78F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;

    
}
.serviceimg3{
    background-color: #F9E58F;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;

    
}
.img6{
    margin-top: 30px;
}
.img7{
    margin-top: -50px;
    width: 321px;
    
}