.image{
    position: relative;
}
.imageparagrap{
    position: absolute;
    background-color: blue;
    color: #ffff;
    height: 20px;
    width: 150px;
    padding-left: 10px;
    margin-top: -20px;
}